<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>信息</title>
</head>
<body>
<div layout:fragment="content" id="app">
    <div class="site-text">
        <h1 class="site-h1">系统</h1>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>信息</legend>
        </fieldset>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="300">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>名称</th>
                    <th>值</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in info">
                    <td v-text="item[0]"></td>
                    <td v-text="item[1]"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block layout:fragment="bottom_script_block">
</th:block>
<script layout:fragment="script">
    var App = new Vue({
        el: '#app',
        data: {
            info: []
        },
        mounted: function () {
                this.getInfo("info");
        },
        methods: {
            getInfo: function (name) {
                var vm = this;
                vm.$http.get('/api/' + name).then(function (response) {
                    var data = response.data;
                    if (data.code == 200)
                        vm[name] = data.data;
                    else
                        vm[name] = [ [ "发生错误", "错误代码：" + data.code ] ];
                }, function (response) {
                    console.error('cannot get ' + name);
                });
            }
        }
    })
</script>
</body>
</html>