<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>共享</title>
</head>
<body>
<div layout:fragment="content" id="app">
    <div class="site-text">
        <h1 class="site-h1">资源</h1>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>共享列表</legend>
        </fieldset>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                </colgroup>
                <thead>
                <tr>
                    <th>共享名称</th>
                    <th>共享类型</th>
                    <th>创建页面</th>
                    <th>引用计数</th>
                    <th>是否锁定</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in items">
                    <td v-text="item[0]"></td>
                    <td v-text="item[1]"></td>
                    <td v-text="item[2]"></td>
                    <td v-text="item[3]"></td>
                    <td v-text="item[4]"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block layout:fragment="bottom_script_block">
</th:block>
<script layout:fragment="script">
    var App = new Vue({
        el: '#app',
        data: {
            items: []
        },
        mounted: function () {
                this.getInfo("share");
        },
        methods: {
            getInfo: function (name) {
                var vm = this;
                vm.$http.get('/api/query/' + name).then(function (response) {
                    var data = response.data;
                    if (data.code == 200)
                        vm.items = data.data;
                    else
                        vm.items = [ [ "发生错误", "错误代码：" + data.code, "", "", "" ] ];
                }, function (response) {
                    console.error('cannot get ' + name);
                });
            }
        }
    })
</script>
</body>
</html>