<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/webjars/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/global.css" media="all">
    <title>jMiniLang Server</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">jMiniLang 后台管理</div>
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/">查看信息</a></li>
            <li class="layui-nav-item"><a href="/md/readme">项目说明</a></li>
            <li class="layui-nav-item"><a href="/info/doc">使用文档</a></li>
            <li class="layui-nav-item"><a href="/info/exec">运行程序</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="https://github.com/bajdcc/jMiniLang">bajdcc</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域 -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="#">系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/info/info">信息</a></dd>
                        <dd><a href="/info/env">参数</a></dd>
                        <dd><a href="/info/resource">资源</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="#">资源</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/info/proc">进程</a></dd>
                        <dd><a href="/info/pipe">管道</a></dd>
                        <dd><a href="/info/share">共享</a></dd>
                        <dd><a href="/info/file">文件</a></dd>
                        <dd><a href="/info/vfs">虚拟文件</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="#">文档</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/md/readme">项目说明</a></dd>
                        <dd><a href="/md/api">API 接口</a></dd>
                        <dd><a href="/info/doc">使用文档</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-tab-item layui-show">
            <div class="layui-main">
                <div id="LAY_preview">
                    <div layout:fragment="content"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer" style="text-align: center;">
        <!-- 底部固定区域 -->
        2018 © jMiniLang
    </div>
</div>
<script src="/webjars/layui/layui.js" charset="utf-8"></script>
<script src="/webjars/vue/vue.min.js" charset="utf-8"></script>
<script src="/webjars/vue-resource/dist/vue-resource.min.js" charset="utf-8"></script>
<th:block layout:fragment="bottom_script_block">
    <!-- script -->
</th:block>
<script>
window.global = {
  pageType: 'demo'
  ,preview: function(){
    var preview = document.getElementById('LAY_preview');
    return preview ? preview.innerHTML : '';
  }()
};
layui.config({
  base: '/layui/js/'
  ,version: '20180620'
}).use('global');
layui.use('layer', function(){
  var $ = layui.$
  ,setIframe = function(){
    var height = $(window).height() - 370;
    $('#demoAdmin').height(height);
  };
  setIframe();
  $(window).on('resize', setIframe);
});
</script>
<script layout:fragment="script">
</script>
</body>
</html>